<div data-ng-controller="HeaderController" flex>



    <md-toolbar  class="md-whiteframe-8dp" data-ng-controller="HomeController as ul">
      <div class="md-toolbar-tools">
          <md-button layout-align="start" class="menu" hide-gt-sm ng-click="ul.toggleList()"
                   aria-label="Show User List">
            <md-icon class="menu-icon" md-svg-icon="menu" ></md-icon>
           </md-button>
           <h2 layout-align="start" class="md-toolbar-tools md-accent md-hue-1" class="name"><span>Tom Ginader</span></h2>
          <span flex=""></span>
            <a href="http://github.com/nadirjin" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/tginader" 
            target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>  
      </div>
    </md-toolbar>
</div>

