<div flex layout="row" data-ng-controller="HomeController as ul">
 

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
      class="md-whiteframe-z2">
        <md-list>
            <md-list-item>
                <md-button data-ui-sref="home" md-active="$state.is('home')" >
                    <md-icon class="material-icons md-light md-48"> person </md-icon>
                    About Me
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="updates" md-active="$state.is('updates')">
                    <md-icon class="material-icons md-light md-48"> chat_bubble_outline </md-icon>
                    Status Updates
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button data-ui-sref="projects" md-active="$state.is('projects')">    
                    <md-icon class="material-icons md-light md-48"> folder_open </md-icon>
                    My Projects
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="contact" md-active="$state.is('contact')">    
                    <md-icon class="material-icons"> mail_outline </md-icon>
                    Contact Me
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <!-- Container #4 Right -->
    <md-content flex id="content">
        <!-- User details sample -->
        <h2 class="page-title">About Me</h2>
        <hr>
        <img class="me md-whiteframe-z2" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOJAAAAJDI0NzZmNDljLTM0N2EtNGY1Yy05NjZjLWI4MTVlODViZDQ0NQ.jpg" alt="Picture of me." height="200" width="200" />
        <div layout-gt-sm="row" layout-sm="column">
        <div flex-sm="95" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="bio md-whiteframe-z2">
          <h3>Bio</h3>
          <p>My name is Tom Ginader, and I am a graduate student. At Marist college, I am currently working towards my M.S. degree in software development. I recently graduated from SUNY Poly with a B.S. degree in network and computer security. The GPA that I graduated with was a 3.94, summa cum laude. This happened to be the highest GPA of my graduating peers with the same major, which I won an award for.
          </p>
          <p>
          Everyday brings me one step closer to my goal of attaining a master's degree. I want to learn all of what the program has to offer, so that I can be as well-rounded as possible. I already know a lot about networking, and computer security due to my B.S. major, and the training I went through to be CCENT certified.
          Now, I plan to learn a lot about software development. Hopefully being adept at both will open up a myriad of opportunities.
          </p>
          <p>
          You can view my LinkedIn profile, as well as my Github profile, by using the links at the top right corner of my website. You may see what I am currently up to, and also view my previous projects by using the sidebar to the left. Feel free to contact me with
          any questions or information you may have. Thank you for stopping by.
          </p>
        </div>
        <div flex-sm="95" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="skills md-whiteframe-z2">
          <h3>Skills and Experience</h3>
           <p>I have worked at Adams Fairacre Farms in Poughkeepsie, NY from June 2012 to August 2012. I was responsible for keeping all of the plants and trees healthy, and I kept them organized for the Adams Landscaping Division.
          </p>
           <p>
           <strong>Languages I am Proficient in:</strong>
              <ul>
                <li>
                  C, SQL, and Java
                </li>
              </ul>
            <strong>Languages I am Familar with:</strong>
             <ul>
                <li>
                  80x86 assembly, HTML, C++, C#, Ruby, Javascript, CSS/SCSS and Python
                </li>
              </ul>
            <strong>Programs I'm good with:</strong>
             <ul>
                <li>
                  Microsoft: Word, Powerpoint, Excel, Access
                </li>
                <li>
                  Wireshark
                </li>
              </ul>
          </p>
        </div>
        </div>
       
    </md-content>

</div>