<div flex layout="row" data-ng-controller="HomeController as ul">
 

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
      class="md-whiteframe-z2">
        <md-list>
            <md-list-item>
                <md-button data-ui-sref="home" md-active="$state.is('home')" >
                    <md-icon class="material-icons md-light md-48"> person </md-icon>
                    About Me
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="updates" md-active="$state.is('updates')">
                    <md-icon class="material-icons md-light md-48"> chat_bubble_outline </md-icon>
                    Status Updates
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button data-ui-sref="projects" md-active="$state.is('projects')">    
                    <md-icon class="material-icons md-light md-48"> folder_open </md-icon>
                    My Projects
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="contact" md-active="$state.is('contact')">    
                    <md-icon class="material-icons"> mail_outline </md-icon>
                    Contact Me
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <!-- Container #4 Right -->
    <md-content flex id="content">
        <!-- User details sample -->
        <h2 class="page-title">About Me</h2>
        <hr>
        <img class="me md-whiteframe-z2" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/1610916_10204045619250333_3491505790847177659_n.jpg?oh=d4df5d606c518566bdf49bf99b065eee&oe=582440BA" alt="Picture of me." height="200" width="200" />
        <div layout-gt-sm="row" layout-sm="column">
        <div flex-sm="95" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="bio md-whiteframe-z2">
          <h3>Bio</h3>
          <p>I am a graduate student. I will attend Marist Graduate school at the end of August. I will be working towards my M.S. degree in software development. I recently graduated from Suny Poly with a B.S. degree in network and computer security. I graduated
          with a 3.94, the highest GPA of my graduating peers with the same major, summa cum laude.
          </p>
          <p>
          I plan on working hard to attain my master's degree. I want to learn as much as I can, and make myself a well rounded individual when it comes to the field of computer science. I know a lot about networking, and computer security. I am also CCENT certified.
          Now I plan to learn a lot about software development. I hope to be as varied as possible so that I can overcome any obstacle that comes my way.
          </p>
          <p>
          You can view my LinkedIn profile, as well as my Github profile, by using the links in the top right corner of my website. You may see what I am currently up to, as well as my previous projects by using the links above. Feel free to contact me with
          any questions or information you may have. Thank you for stopping by.
          </p>
        </div>
        <div flex-sm="95" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="skills md-whiteframe-z2">
          <h3>Skills and Experience</h3>
           <p>I have worked at Adams Fairacre Farms in Poughkeepsie, NY from June 2012 to August 2012. I was responsible for keeping all of the plants and trees healthy, and I kept them organized for the Adams Landscaping Division.
          </p>
           <p>
           <strong>Languages I am Proficient in:</strong>
              <ul>
                <li>
                  C, SQL, and Java
                </li>
              </ul>
            <strong>Languages I am Familar with:</strong>
             <ul>
                <li>
                  80x86 assembly, HTML, C++, C#, Ruby, Javascript, CSS/SCSS and Python
                </li>
              </ul>
            <strong>Programs I'm good with:</strong>
             <ul>
                <li>
                  Microsoft: Word, Powerpoint, Excel, Access
                </li>
                <li>
                  Wireshark
                </li>
              </ul>
          </p>
        </div>
        </div>
       
    </md-content>

</div>