 <div flex layout="row">

 <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
      class="md-whiteframe-z2">
        <md-list>
            <md-list-item>
                <md-button data-ui-sref="home" md-active="$state.is('home')">
                    <md-icon class="material-icons md-light md-48"> person </md-icon>
                    About Me
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="updates" md-active="$state.is('updates')">
                    <md-icon class="material-icons md-light md-48"> chat_bubble_outline </md-icon>
                    Status Updates
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button data-ui-sref="projects" md-active="$state.is('projects')">    
                    <md-icon class="material-icons md-light md-48"> folder_open </md-icon>
                    My Projects
                </md-button>
            </md-list-item>
             <md-list-item>
                <md-button data-ui-sref="contact" md-active="$state.is('contact')">    
                    <md-icon class="material-icons"> mail_outline </md-icon>
                    Contact Me
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>





  <md-content  flex id="content">
	<div class="wrapper homepage_content" data-ng-controller="updateController" id="status_updates">
	  <h2 class="page-title">{{ title }}</h2>
	  <hr />
	  <div flex-sm="90" flex-gt-sm="90"  flex-md="90" flex-lg="100" flex-gt-lg="100" layout-gt-sm="row" layout-sm="column" layout-align-xs="center" layout-align-gt-xs="center" >
	  <div  class="update container col s1 md-whiteframe-z2">
	    <h5>{{ updatesTwo[0].text }}</h5>
	    <p class="date">{{updatesTwo[0].date | date }}</p>
	  </div>
          <div data-ng-repeat="update in updates|limitTo:4" class="update container col s1 md-whiteframe-z2">
            <h5>{{ update.text }}</h5>
            <p class="date">{{update.date | date }}</p>
          </div>
	  </div>
         <div flex-sm="90" flex-gt-sm="90"  flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20" layout-gt-sm="row" layout-sm="column"  >
      <div data-ng-repeat="update in updatesTwo" class="update container col s1 md-whiteframe-z2">
        <h5>{{ updates[4].text }}</h5>
        <p class="date">{{updates[4].date | date }}</p>
      </div>
      </div>

   
      
	</div>
     
  </md-content>
</div>